body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/*Solution*/

.header{
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 32px;
  height: 2em;
  font-weight: 900;
}

.sidebar{
  display: flex;
  font-weight: bold;
  color: white;
  width: 300px;
  flex-shrink: 0;
  padding: 16px;
}

ul{
  list-style: none;
  padding: 0%;
  font-size: 24px;
}

a{
  text-decoration: none;
  color: #eee;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  flex-direction: row;
  padding: 32px;
  gap: 16px;
}

.big-container{
  display: flex;
  flex-direction: row;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  padding: 16px;
  width: 300px;
  margin: 16px;
  font-size: 15px;
}